@media (max-width: 728px) {

    /* стили для шапки */
    .header {
        width: 100%;  /* шапка растягивается на всю ширину */
    }

    /* стили для основы */
    .main {
        width: 100%;
        flex-direction: column;  /* расположение секций по вертикали */
    }

    /* стили для секций */
    .description, .control, .result {
        width: 100%;  /* секции растягиваются на всю ширину */
    }
    
    /* стили для кнопок */
    .btn {
        margin-bottom: 5px;
        padding: 8px;
    }

    /* стили для кнопок: зашифровать, расшифровать и загрузить */
    .encrypt-it, .decrypt, .download {
        width: 50%;
        display: block;
    }
}