@media (max-width: 728px) {

    /* стили для шапки */
    .header {
        width: 100%;  /* шапка растягивается на всю ширину */
    }

    /* стили для основы */
    .main {
        flex-direction: column;  /* расположение секций по вертикали */
    }

    /* стили для секций */
    .description, .control, .result {
        width: 100%;  /* секции растягиваются на всю ширину */
    }

    
    .control__text-input-field,
    .result__text-output-field {
        width: 98.5%;
    }
    
    .btn {
        margin: 5px;
        padding: 8px;
    }
}