/* определение переменных (глобальные переменные) */
:root {
    /* стили для светлой темы */
    --bg-color: white;  /* фон при светлой теме */
    --text-color: black;  /* цвет текста при светлой теме */
    --placeholder-color: rgba(0, 0, 0, 0.5);  /* цвет текста плейсхолдера (подсказки) при светлой теме */
    --border-color: black;  /* цвет рамок при светлой теме */
    --elem-bg-color: white;  /* фон элементов при светлой теме */

    /* переменная для внешних и внутренних оступов */
    --indent: 10px;
}


/* стили для темной темы */
.dark-theme {
    --bg-color: rgb(68, 65, 65);  /* фон при темной теме */
    --text-color: white;  /* цвет текста при темной теме */
    --placeholder-color: rgba(255, 255, 255, 0.5);  /* цвет текста плейсхолдера (подсказки) при темной теме */
    --border-color: white;  /* цвет рамок при темной теме */
    --elem-bg-color: rgb(88, 88, 88);  /* фон элементов при темной теме */
}


/* стили для body */
body {
    background-color: var(--bg-color);
    color: var(--text-color);
}


/* стили для всех тегов */
* {
    box-sizing: border-box;  /* все отступы и бордеры будут вкл в ширину */
}


/* стили для шапки */
.header {
    max-width: 1810px;
    border: 1px solid var(--border-color);
    text-align: center;
    padding-bottom: 10px;
}


/* стили для основы */
.main {
    max-width: 1820px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    gap: 5px
}


/* стили для первой секции с описанием */
.description {
    width: 600px;
    padding-left: var(--indent);  /* внутренние отступы в секции */
    padding-right: var(--indent);  /* внутренние отступы в секции */
    border: 1px solid var(--border-color);
    font-size: 20px;
}


/* стили для заголовка секции с описанием */
.description__title {
    border-bottom: 1px solid var(--border-color);
    text-align: center;
    margin-left: calc(var(--indent) * -1);   /* внешний отступ в блоке с заголовком */
    margin-right: calc(var(--indent) * -1);   /* внешний отступ в блоке с заголовком */
}


/* стили для второй секции с управлением */
.control {
    width: 600px;
    padding-left: var(--indent);  /* внутренние отступы в секции */
    padding-right: var(--indent);  /* внутренние отступы в секции */
    border: 1px solid var(--border-color);
    font-size: 20px;
}


/* стили для заголовка секции c управлением */
.control__title {
    border-bottom: 1px solid var(--border-color);
    text-align: center;
    margin-left: calc(var(--indent) * -1);   /* внешний отступ в блоке с заголовком */
    margin-right: calc(var(--indent) * -1);   /* внешний отступ в блоке с заголовком */
}


/* стили для выпадающего списка в секции с управлением */
.control__select {
    border: 1px solid var(--border-color);
    background-color: var(--elem-bg-color);
    color: var(--text-color);
}


/* стили для поля ввода текста в секции c управлением */
.control__text-input-field {
    width: 100%;
    height: 190px;
    margin: 100px 0px 20px 0px; 
    font-size: 20px;
    border: 1px solid  var(--border-color);
    background-color: var(--elem-bg-color);
    color: var(--text-color);
    display: block;
    resize: none;  /* запрещаем менять размер полю (растягивать) */
}


/* стили для плейсхолдера (подсказки) в поле ввода */
.control__text-input-field::placeholder {
    color: var(--placeholder-color);
}


/* стили для кнопки шифрования в секции с управлением */
.btn {
    padding: 5px;
    border: 1px solid var(--border-color);
    background-color: var(--elem-bg-color);
    color: var(--text-color);
    cursor: pointer;
    transition: background-color 0.3s linear;
}


.btn:hover {
    background-color: rgb(176, 176, 249);
}


/* стили для третьей секции с результатом */
.result {
    width: 600px;
    padding-left: var(--indent);  /* внутренние отступы в секции */
    padding-right: var(--indent);  /* внутренние отступы в секции */
    border: 1px solid var(--border-color);
    font-size: 20px;
}


/* стили для заголовка секции с результатом */
.result__title {
    border-bottom: 1px solid var(--border-color);
    text-align: center;
    margin-left: calc(var(--indent) * -1);   /* внешний отступ в блоке с заголовком */
    margin-right: calc(var(--indent) * -1);   /* внешний отступ в блоке с заголовком */
}


/* стили для поля вывода в секции с результатом */
.result__text-output-field {
    width: 100%;
    margin: 20px 0 10px 0;
    height: 190px;
    border: 1px solid var(--border-color);
    background-color: var(--elem-bg-color);
    color: var(--text-color);
    font-size: 20px;
    display: block;
    resize: none;
}


/* стили для плейсхолдера (подсказки) в поле вывода */
.result__text-output-field::placeholder {
    color: var(--placeholder-color);
}


/* стили для поля ввода сдвига (динамический тег) */
.alphabet-shift-field {
    border: 1px solid  var(--border-color);
    background-color: var(--elem-bg-color);
    color: var(--text-color);
}


/* стили для плейсхолдера (подсказки) в поле ввода сдвига */
.alphabet-shift-field::placeholder {
    color: var(--placeholder-color);
}


/* стили для кнопки сохранения сдвига (динамический тег) */
.btn-save {
    border: 1px solid var(--border-color);
    background-color: var(--elem-bg-color);
    color: var(--text-color);
    cursor: pointer;
    transition: background-color 0.3s linear;
}


.btn-save:hover {
    background-color: rgb(176, 176, 249);
}